.env
.env.local
.env*.local

node_modules
dist
coverage

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# docs
.claude/
docs/arquitectura/arquitectura-seguridad.md

*storybook.log
storybook-static

/database/backup

nul
.vercel
